# Node modules
node_modules/

#exclude transformer
transformers/

# Exclude Hugging Face model files
python_directory/llm_model/
python_directory/llama_venv/
python_directory/.cache/


# Build output
build/
dist/

# Logs
*.log

# Environment variables
.env